body{
    display : flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.card form-field, mat-card-actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.url-box{
    display: inline;
    /* flex-direction: column; */
    align-items: start;
    width: 23%;
}

.card button{
    margin: 0 5px;
    width: fit-content;
}

.main{
    display: flex;
    flex-direction: row;
}

.box{
    margin : 0 50px;
}