<body>
    <h2>Welcome {{username}}!!</h2>
    <div class="main">
        <div class="box">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title>URLNicknamer</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field appearance="outline" >
                        <mat-label>Enter the URL</mat-label>
                        <input matInput [(ngModel)]="url" [formControl]="urlerr" required>
                        <mat-error *ngIf="urlerr.invalid">{{getErrorMessageForURL()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Enter the nickname</mat-label>
                        <input matInput [(ngModel)]="nickname" [formControl]="nameerr" required>
                        <mat-error *ngIf="nameerr.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button [disabled]="(urlerr.valid==true && nameerr.valid==true)?false:true" (click)="onClick()">Get</button>
                    <button mat-raised-button (click) = "getDetails()">History</button>
                </mat-card-actions>
            </mat-card>
            <div class="url-box">
                <div>
                    <p>Your URL : <a href="{{url}}">{{output}}</a></p>
                    <button [cdkCopyToClipboard]="output">Copy</button>
                </div>
            </div>
        </div>
        <div>
            <ul *ngFor="let detail of details">
                <li><a href="{{detail[1]}}">{{detail[0]}}</a></li>
            </ul>
        </div>
    </div>
</body>
